{% extends "index.html" %}
{% block c %}
{% comment %} <style>
    .od1{
        font
    } {% endcomment %}
</style>
<section class="p-4" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="https://img.freepik.com/premium-photo/logo-company-that-says-word-it_1103290-9754.jpg?size=626&ext=jpg&ga=GA1.1.2093635279.1716356067&semt=ais_user_b" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                
                <h1>DROP INFO</h1> <br>
                <h3 class="od1">Track your events</h3>
                <p class="od1">Stay tuned..</p>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
{% endblock c %}
