{% extends "index.html" %}
{% block c %}
{% comment %} <style>
    .od1{
        font
    } {% endcomment %}
</style>
<style>
    .bg {
        background-image: url('static/bg.jpg');
        opacity: 0.7;
        background-size: cover; /* Adjusts the image to cover the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        margin-top:;
        height: 900px;
        width: 1486px;
        
        
      }
      
</style>
<section class="bg p-4" id="home">
    <div class="container ">
        <div class="row align-items-center">
            <div class="">
                <div class="col-md-12 mt-60 font-montserrat text-white ">
                
                    <h1 class="font-montserrat text-white font-bold text-6xl">DROP INFO</h1> <br>
                    <h3 class="od1 text-xl">Track your events</h3>
                    <p class="od1 text-xl">Stay tuned..</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% include "footer.html" %}
{% endblock c %}
