{% load static  %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">



<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventz</title>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16"></svg>
    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
    </svg>

</head>
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>
<body style="scroll-behavior: smooth; background-color:#E8E8E8">
  <style>
    .navbar-custom{
      background: linear-gradient(to right,
            rgb(76,81,109),
            rgb(79,102,106))
        {% comment %} background-color: #929fba; {% endcomment %}
        
    
    }
  </style>
    
    <header class="navbar-custom" style="position:fixed;width: 100%; z-index: 1;">
        <div class="row text-white">
            <div class="col-md-6 col-9 p-4 ps-5">
                <h2>dropinfo.com</h2>
            </div>
            <div class="col-md-6 col-3 my-auto ">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    
                    {% comment %} <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span> {% endcomment %}
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                          <a class="nav-link text-white" href="{% url 'home'%}">Home <span class="sr-only"></span></a>
                        </li>
                        {% comment %} <li class="nav-item">
                          <a class="nav-link text-white" href="{% url 'create'%}">Create</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'list'%}">Events</a>
                          </li>
                          {% if user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'booking'%}">Booking</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'contact'%}">Contact</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout'%}">Logout</a>
                          </li>
                          {% else %}
                          <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login'%}">Login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'signup'%}">Signup</a>
                          </li>
                          {% endif %}
                          
                          
                        
                
                      </ul>
                      
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    {% block c %}
    {% endblock c %}
</body>
